*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.div-card{
    border: 1px solid #9f9c9c;
    width: 20%;
    padding: 10px;
}

.div-card img{
    position: relative;
    margin: 0;
    margin: 5%;

}

.section-cards{
    display: flex;
    gap: 10px;
}

.tag-p{
    top: 10px;
    right: 10px;
    /* z-index: -1; elemento para sobreposição*/
    position: absolute;
    background-color: #ec5002;
    width: fit-content;
    padding: 3px;
    border-radius: 10px;
}

.div-img{
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #bebe37;
}

h2 > a{
    font-size: 20px;
}

.div-titulo h1{
    
}

.div-titulo button{
color: #bebe37;
}

.div-titulo{
    font-size: 20px;
    justify-content: space-between;
}

.div-titulo{
    display: flex;
    justify-content: space-between;

}

.div-texto{
    padding: 10px;

}

.span-valor{
    font-size: 28px;
    font-weight: 600;
}